

body {
    background-color: #00539F;
}

.all {
    background-color: #FF9500;
    border: 6px solid black;
    width: 600px;
    margin: auto;
}

.top {
    color: #00539F ;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.im {
    margin: auto;
    width: 300px;
}

.main {
    text-indent: 30px;
}

.main2 {
    text-indent: 30px;
}


.main3 {
    text-indent: 30px;
}

.list {
    text-indent: 50px;
}